name: Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"
          fetch-depth: 0

      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r28c
          add-to-path: false

      - name: Build
        run: make
        env:
          NDK_PATH: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Upload release
        uses: actions/upload-artifact@v4
        with:
          name: KPM-Audit-Patch
          path: ./kpm_audit_patch.kpm
